.hero-unit
  %p
    At Neo, we do cool stuff every day. A high-five or fist-bump later,
    we're back to tackling the next challenge.
  %p
    Wouldn't it be great to be able to save that moment to savor later?
    The next time you want to tell someone how awesome they are, snap a
    pic of them wearing the Neo Deal With It widget and tweet it with
    the hashtag #NeoDealWithIt (or #NeoDwi if running short on chars).
    It will show up here!
  %p
    Shamelessly repurposed from
    = link_to "#RubyFriends", "http://rubyfriends.com"
    Thanks RubyRogues for sharing their source code! ☺
  %p
    %a{href: '/', class: 'btn btn-large'} Back
